// =============================================================================
// Colors
// =============================================================================

$white: #FFFFFF;

$text-primary: #0F0F0F;
$text-secondary: #151515;
$text-tertiary: #7E7E7E;
$text-quaternary: #1C4961;

$brand-primary: #4468E2;
$brand-secondary: #F0F4FC;

$shadow: #E5E9F666;
$border: #B4C6EE;
