.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 154px;
    background: url("../images/overlay.svg") center center no-repeat, url("../images/background.png") center center no-repeat;
    background-size: cover;
    border-radius: 14px;

    &__title {
        margin: 0 0 12px 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }

    &__description {
        max-width: 522px;
        margin-bottom: 39px;
        font-size: 22px;
        line-height: 33px;
        color: $white;
        text-transform: capitalize;
        text-align: center;
    }
}
