@import "../abstracts/mixins";
// =============================================================================
// Montserrat
// =============================================================================
@include font-face("Montserrat", "../fonts/Montserrat/Montserrat-Bold", 700, normal, eot ttf woff woff2);
// =============================================================================
// Proxima Nova Alt
// =============================================================================
@include font-face("Proxima Nova Alt", "../fonts/Proxima Nova Alt/ProximaNovaA-Regular", 400, normal, eot ttf woff woff2);
@include font-face("Proxima Nova Alt", "../fonts/Proxima Nova Alt/ProximaNovaA-Semibold", 600, normal, eot ttf woff woff2);

*, *:before, *:after {
    text-rendering: optimizeLegibility;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Proxima Nova Alt', sans-serif;
    font-size: 1rem;
    line-height: 2em;
    font-weight: 400;
    font-style: normal;
    color: $text-primary;
}

a,
input[type='text'],
input[type='checkbox'],
input[type='password'],
input[type='email'],
textarea,
label {
    -webkit-tap-highlight-color: transparent !important;
}
