/* Transition delay */
$transition-delay: 250ms;

/* Button class */
.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    box-sizing: border-box;

    cursor: pointer;

    outline: none;
    transition: $transition-delay ease;

    &_theme {
        &_primary {
            background: $brand-primary;
            color: $white;
            opacity: 1;

            &:hover {
                opacity: 0.95;
            }
        }

        &_transparent {
            background: transparent;
            color: $text-primary;

            &:hover {
                color: $text-secondary;
            }
        }
    }

    &_size {
        &_small {
            padding: 6px 20px;
            font-size: 19px;
            letter-spacing: -0.72px;
            border-radius: 16px;
        }

        &_large {
            padding: 20px 36px;
            font-size: 21px;
            border-radius: 10px;
        }
    }

    &_disabled {
        cursor: not-allowed;
    }
}
