.search {
    display: flex;
    padding: 0.8125rem;
    border-radius: 0.625rem;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(30px) brightness(1.5);
    backdrop-filter: blur(30px) brightness(1.5);

    &__fields {
        display: flex;
        align-items: center;
        margin: 4px 0;
    }

    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        border-left: 0.5px solid $border;
        border-right: 0.5px solid $border;
        padding-left: 2rem;

        &:first-child {
            border: none;
            padding-left: 0.75rem;
            padding-right: 2rem;
        }

        &:last-child {
            border: none;
            padding-left: 2rem;
        }
    }

    &__title {
        letter-spacing: -0.0475rem;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 600;
        margin: 0;
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        margin-top: 6px;
    }

    &__input-icon {
        color: $text-tertiary;
        margin-right: 6px;
    }

    &__input {
        border: none;
        outline: none;
        background: none;
        padding: 0;
        line-height: 1;
        color: $text-tertiary;

        &::-webkit-input-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }

        &::-moz-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }

        &:-ms-input-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }

        &:-moz-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }
    }

    &__datepicker {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 1rem;
        color: $text-tertiary;

        &::-webkit-input-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }

        &::-moz-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }

        &:-ms-input-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }

        &:-moz-placeholder {
            color: $text-tertiary;
            opacity: 0.8;
        }
    }

    .react-datepicker-wrapper {
        line-height: 1;
        margin-top: 6px;
    }

    .react-datepicker {
        font-family: "Proxima Nova Alt", sans-serif !important;
        border: none;
        box-shadow: 10px 40px 50px $shadow;

        &__triangle {
            display: none;
        }

        &__header {
            background: $brand-secondary;
            border: none;
        }

        &__day {
            &:hover {
                background: $brand-secondary;
            }

            &--today {
                background: $brand-primary;

                &:hover {
                    background: $text-quaternary;
                }
            }
        }
    }

    &__button {
        margin-left: 48px;
    }
}
